# Eclipse
.config

# VS Code
*.user

# Code blocks
*.cbp

# CLion
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# CMake generated
cmake-build-*
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt

# dynamic libraries
*.so
*.dylib

